@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
html {
	font-size: 16px;
}
html body {
    background-color: #111315;
    color: white;
}
body h1{
    font-family: "Luckiest Guy", cursive;
    color: #b0acfa;
}
#quoteImage.active {
    display: block;
    border: solid #b0acfa;
}

#quoteImage {
    display: none;
}

.quote_card{
    background-color: #181f1f;
    padding: 8px;
    min-width: 75%;
    max-width: 75%;
}
#quote{
    background: #111315;
    border-radius: 5px;
    padding: 15px;
    display: none;
}
#quote.active{
    display: block;
}
.quote_card button{
    background: #b0acfa;
    font-family: "Luckiest Guy", cursive;
    font-size: 1.7rem;
    padding: 10px 20px;
    border: solid transparent;
    transition: .4s;
}
.quote_card button:hover{
    border: solid #b0acfa !important;
}

.quote_card button {

}

